*{
    padding: 0;
    margin: 0;
}
.main{
    text-align: center;
}
.header{
    /* background-color: burlywood; */
    text-align: right;
    max-height: 50px;
    margin-top: 10px;
    padding: 0 20px;
    font-size: 20px;
    /* position: relative; */
}
.header>a{
    margin: 0 5px;
    text-decoration: none;
    color: black;
  
}
.header>a:hover{
    text-decoration: underline;
}
.header>button{
    color: #000000;
    background-color: #71c5e6;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    font-size: 18px;
    /* margin-right: 20px; */
}
.dot{
     height: 20px;
     margin: 0 20px;
     cursor: pointer;
}
.body>.logo>img{
    width: 20%;
}
.search>input{
    padding: 20px 20px;
    width: 50%;
    background-color: #e7e7e7;
    border: none;
    font-size: 18px;
    border-radius: 50px;
    outline: none;
}
.search>img{
    width: 20%;
}
.body-btn>button{
    padding: 10px 20px;
    margin: 20px 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #d6f3ff;
}
.body-btn>button:hover{
    background-color: #d2d2d2;
    border: 1px solid;
}